.chrome-plugin-demo-panel {
	position: fixed;
	right: 0;
	bottom: 10px;
	background: #3385ff;
	padding: 10px;
    box-shadow: 0px 0px 10px #002761;
    border-radius: 3px;
    color: white;
}


.chrome-plugin-panel {
	width:315px;
	position: fixed;
	top: 60px;
    bottom: 40px;
    right: 3px;
	background: #32D3A6;
    padding: 10px;
    padding-top: 100px;
    box-shadow: 0px 0px 10px #002761
    border-radius: 4px;
    color: white;
	z-index:1002;
	overflow-y:scroll;
	overflow-x:hidden;
}


.chrome-plugin-panel a {
	color: #EEE;
    text-decoration: none;
}

.chrome-plugin-panel a:hover{
    text-decoration: underline;
    color: #ffee08 !important;
    font-weight: bold;
}

.top{
    position: fixed;
    background: rgb(50, 211, 166);
    margin-top: -100px;
    height: 80px;
}

.top h4 {
    margin-top: 10px;
}

.my-input{
    width: 285px;
	height :32px;
	line-height : 16px;
	border : 1px solid #32D3A6;
	font : 12px 'Microsoft Sans Serif';
    padding : 2px;
    margin-top: 10px;
	color : #32D3A6;
	z-index: 1001;
}

#container_of_li li a:hover{
    color: #ffee08;
}

.chrome-plugin-demo-panel a{
	color: white;
    text-decoration: none;
	font-size: 16px;
}
.chrome-plugin-demo-panel a:hover{
    text-decoration: underline;
    color: #ffee08;
}
.animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}
@-webkit-keyframes slideInLeft {
    0% {
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0);
        visibility: visible
    }

    100% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }
}

@keyframes slideInLeft {
    0% {
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0);
        visibility: visible
    }

    100% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }
}

.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
#my_panel::-webkit-scrollbar
{
	width: 10px;
	height: 10px;
	background-color: #F5F5F5;
}
 
/*定义滚动条轨道 内阴影+圆角*/
#my_panel::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 4px;
	background-color: #F5F5F5;
}
 
/*定义滑块 内阴影+圆角*/
#my_panel::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #269475;
}
